.mng-users-table {
	background: #fff;
	padding: 30px;
}
.mng-users-table .table th, .table td {
    padding: 1.75rem;
    vertical-align: top;
    border-top: 1px solid #f4f5f8;
}
.mng-users-table {
	font-size: 18px;
}
.action-column {
	display: flex;
}
.theme-btn {
	font-size: 19px !important;
	padding: 8px 35px !important;
	color: #fff;
	background-color: #ff7d10;
	border-color: #ff7d10;
	box-shadow: none;
}
.theme-btn:hover
{
	color: white;
	background-color: #035081 !important;
	border-color: #035081  !important;
	box-shadow: none;
}
.approval-form {
	display: flex;
}
.approval-form button {
	margin: 0px 4px;
}
.action-column a, form {
	margin: 0px 10px 0px 0px; 
}
.m-aside-menu .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-icon {
	color: #ff7d10 !important;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-icon{
	color: #ff7d10 !important;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text{
	color:#fff;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__link .m-menu__link-icon{
	color:#ff7d10 !important;
}

.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-dark .m-menu__nav .m-menu__item:not([m-menu-submenu-mode='accordion']).m-menu__item--hover>.m-menu__submenu .m-menu__subnav .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__link .m-menu__link-text
{
	color:#fff !important;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__link .m-menu__link-text
{
	color:#fff !important;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__link .m-menu__link-text
{
color:#fff !important;
}
.btn-primary
{
	background-color: #035081 !important;
	border-color: #035081  !important;
}
.m-brand__logo-wrapper img {
	width: 90%;
}
/*.m-subheader {
	display: none;
}*/
.mng-users-table h3 {
	padding-bottom: 22px;
}
/*  FORM BUILDER CSS START  */
.builder-save-btn {
	display: block !important;
	margin: 0 auto !important;
	text-align: center;
	padding: 4px 50px;
	font-size: 20px;
	box-shadow: 0px 2px 3px 0px #888;
	border: none;
	background: white;
	cursor: pointer;
	color: #fff;
	float: right;
	position: relative;
	right: 58px;
}
.builder-save-btn:hover {
	background: #2c2e3e;
	transition: all 0.3s;
	color: #fff;
}
.form-wrap.form-builder .frmb .field-actions .btn {
	line-height: 21px !important;
}
.form-builder-custom {
	padding-top: 15px;
}
.build-form-body {
	background: #f2f3f8;
}
.form-builder-container {
	background: white;
	box-shadow: 5px 10px 18px #888888;
	padding: 0px;
	padding-bottom: 52px;
}
.back-btn {
	margin: 26px 0px 0px 10px;
	padding: 11px 17px 11px 20px;
	color: #ff7d10 !important;
	border-color:#ff7d10 !important;
	background: white !important;
	cursor: pointer;
}
.back-btn:hover {
	color: white;
	background: #ff7d10 !important;
}
.back-arrow {
	font-weight: 900;
	position: relative;
	left: -6px;
	top: 1px;
	font-size: 17px;
}
.form-builder-container h3 {
	padding: 15px 0px 0px 23px !important;
}
.form-builder-custom .form-builder ul {
	padding: 20px !important;
}

.form-logo img {
	margin: 0 auto;
	display: block;
	width: 13%;
}
.padding-0 {
	padding: 0px !important;
}
.title-form {
	margin: 0 auto;
	display: block;
	padding: 18px 20px !important;
	margin: 24px 0px 23px 0px;
	box-shadow: 0px 2px 4px #888;
	background: white;
}
.title-form label {
	margin: 0px;
	padding: 8px 6px 0px 8px;
	font-size: 22px;
	color: #666;
}
.form-builder-custom .frmb .field-actions .btn  {
    display: inline-block;
    height: 26px !important;
    line-height: 29px;
    font-size: 14px !important;
    padding: 3px 0px 0px 0px !important;
}
.form-builder-custom .form-actions {
	display: none !important;
}
.form-wrap.form-builder .frmb > li:hover {
	outline: 0;
	box-shadow: 2px -2px 2px -2px #888 !important;
}


/*  FORM BUILDER CSS END  */

/* The actual popup */
.m-dropdown .m-dropdown__wrapper .m-dropdown__header {
	padding: 20px 20px;
	border-radius: 4px 4px 0 0;
}
.m-card-user .m-card-user__details .m-card-user__name {
	display: block;
	padding: 0 0 0 0;
	font-size: 1.3rem;
	font-weight: 400;
}
.m-card-user .m-card-user__details {
	display: table-cell;
	width: 100%;
	text-align: left;
	vertical-align: middle;
	padding: 0 0 0 15px;
}
/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.custom-drop-down {
	background: white;
	text-align: left;
	width: 325px;
	box-shadow: 0px 0px 15px 1px rgba(69,65,78,0.2);
	border-radius: 5px !important;
}
.custom-drop-down img {
	max-width: 90px !important;
	margin: 0 !important;
	border-radius: 100%;
}
.custom-logout {
	margin: 6px 0px 26px 20px !important;
}
.custom-drop-down a  {
	margin: 0px 0px 6px 0px;
	font-size: 11px;
	padding: 10px 24px;
}
.custom-drop-down .m-card-user {
	padding: 5px 0;
	margin: 0;
	display: table;
	table-layout: fixed;
}
.custom-drop-down .m-card-user .m-card-user__pic {
	display: table-cell;
	text-align: right;
	padding: 0 5px 0 0;
	vertical-align: middle;
	width: 70px;
}
.custom-logout {
	margin-left: 18px;
}
.custom-popup {
	visibility: hidden;
	text-align: center;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: -270px;
	top: 95%;
}
.custom-drop-down .m-card-user .m-card-user__pic img {
	padding: 11px;
}
/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/*  CUSTOM DATE FORM CSS START  */

	.custom-date-form {
		background: #fff;
		padding: 30px;
		margin-bottom: 20px;
	}
	.custom-date-form label {
		font-size: 20px;
	}
	.custom-date-form h3 {
		border-bottom: 1px solid #f4f5f8;
		padding-bottom: 17px;
		margin-bottom: 20px;
	}
	.custom-date-form button {
		padding: 0px;
		font-size: 20px;
	}
	.custom-date-form button {
		padding: 8px 40px 8px 40px;
		font-size: 18px;
	}
	.custom-date-form input {
		text-align: center;
	}


/*  CUSTOM DATE FORM CSS END  */



.dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before {
	display: none !important;
}
.child {
	display: none;
}
.addmore {
	display: none;
	padding-left: 28px;
	padding-right: 29px;
	margin: 30px 0px 0px;
	border-bottom: 1px dashed #ebedf2;
}
.addmore-btn {
	float: right;
	margin: 10px 0px 10px 0px;
}
.select2-container{
	width: 100% !important;
}
.margin-top20 {
	margin: 20px 0px 0px 0px;
}
.add-more-btn {
	text-align: center;
	float: right;
	margin: 11px 0px 9px 0px;
}
#build-wrap ul {
	position: relative;
	left: 15px;
}


/*.ui-sortable li:nth-child(1) {*/
/*	display: none;*/
/*}*/
/*.ui-sortable li:nth-child(2) {*/
/*	display: none;*/
/*}*/
/*.ui-sortable li:nth-child(6) {*/
/*	display: none;*/
/*}*/
/*.ui-sortable li:nth-child(7) {*/
/*	display: none;*/
/*}*/
/*.ui-sortable li:nth-child(9) {*/
/*	display: none;*/
/*}*/







@media (min-width: 320px) and (max-width: 767px){
	.action-column a {
		width: 100%;
		font-size: 10px;
		padding-top: 7px;
		padding-bottom: 7px;
		margin: 1px 1px;
	}
	.action-column form {
		margin: 0px 1px;
		width: 100%;
	}
	.action-column form button {
		width: 100%;
		font-size: 10px;
		padding: 8px 8px 8px 9px;
		margin: 1px 1px;
	}

	/* FORM BUILDER CSS START */

	.form-builder-custom {
		padding: 0px 8px 0px 0px;
		padding-top: 50px;
	}
	.form-builder-custom .ui-sortable-handle {
		width: 41px;
	}
	.form-builder-custom .frmb-control li::before {
		font-size: 18px !important;
	}
	.form-builder-custom .form-builder ul {
		padding: 9px !important;
	}


	/* FORM BUILDER CSS END */	
}
@media (min-width: 768px) and (max-width: 900){
	.form-builder-custom {
		padding: 102px !important;
		padding-top: 50px;
	}
}